<script src="phaser.js"></script>
<script src="game.js"></script>
<div style="width:800px;margin:20px auto;text-align:center;">
  <h1>A Drawers Knobs Shooting Socks</h1>
</div>
<div id="game" style="width:800px;margin:50px auto;border:1px solid #000;"></div>
<div style="width:800px;margin:20px auto;">
  <h1 id="start" style="text-align:center;"><a href="#" onclick="start();">Start Game</a></h1>
  <p>Defend the drawers from the socks!</p>
  <p>Only one draw can open at a time</p>
  <a href="/">Start Over</a>
</div>
